alembic
coverage
Flask
Flask-Limiter
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
itsdangerous
Jinja2
limits
Mako
MarkupSafe
mistune
python-editor
python-slugify
six
SQLAlchemy
Unidecode
Werkzeug
wheel
WTForms