<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smog</title>
    {% block head %}{% endblock %}
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
<body><div class="page">
    {% block title %}{% endblock %}
    <div class="nav">
        <span class="nav-item"><a href="{{ url_for('view_posts') }}">Most Recent</a></span>
        <span class="nav-item"><a href="{{ url_for('list_posts') }}">All Posts</a></span>
        {% for page in pages %}
            <span class="nav-item"><a href="{{ url_for('view_posts') }}{{ page.permalink }}">{{ page.title }}</a></span>
        {% endfor %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class='flash'><strong>{{ message }}</strong></div>
    {% endfor %}
    {% block body %}{% endblock %}
    {% if current_user.is_authenticated %}
    <p>Logged in as {{ current_user.name }}</p>
    {% endif %}
    <div class="nav">
        Administer me:
        {% if current_user.is_authenticated %}
            <span class="nav-item"><a href="{{ url_for('create_edit_post') }}">Create Post</a></span>
            <span class="nav-item"><a href="{{ url_for('view_unpublished') }}">View Unpublished</a></span>
            <span class="nav-item"><a href="{{ url_for('logout') }}">Log out</a></span>
        {% else %}
            <span class="nav-item"><a href="{{ url_for('login') }}">Log in</a></span>
        {% endif %}
    </div>
</div></body>
</html>