<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if post %}{{ post.title }} - {% endif %}{{ g.site_settings.site_title }}</title>
    {% block head %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dark-tango-skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
</head>
<body>
    <div class="top-nav">
        <ul>
            <li class="left-nav-li"><a href="{{ url_for('view_posts') }}">Home</a></li>
            <li class="left-nav-li"><a href="{{ url_for('site_index') }}">Index</a></li>
            {% for page in g.static_pages %}
                <li class="left-nav-li"><a href="{{ url_for('view_posts') }}{{ page.permalink }}">{{ page.static_page_link_title }}</a></li>
            {% endfor %}
            {% if current_user.is_authenticated %}
                <li class="right-nav-li"><a href="{{ url_for('logout') }}">Log out</a></li>
                <li class="dropdown right-nav-li">
                    <a href="#" class="dropbtn">Manage Site</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('create_edit_post') }}">Create Post</a>
                        <a href="{{ url_for('view_unpublished') }}">View Unpublished</a>
                        <a href="{{ url_for('manage_users') }}">Manage Users</a>
                        <a href="{{ url_for('site_settings') }}">Site Settings</a>
                    </div>
                </li>
                <li class="right-nav-li"><p>Logged in as {{ current_user.name }}</p></li>
            {% else %}
                <li class="right-nav-li"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        {% block title %}{% endblock %}
        {% for message in get_flashed_messages() %}
            <div class='flash'>{{ message }}</div>
        {% endfor %}
        <div class="row">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">{{ g.site_settings.get_footer_line() }}</div>
    </div>
</body>
{{ g.site_settings.analytics_code | safe }}
</html>