{% extends 'layout.html' %}
{% block title %}
<h1>smog: Simple Markdown blOG</h1>
{% endblock %}
{% block body %}
    {% if unpublished == True %}
        <h2>Unpublished Posts</h2>
    {% endif %}
    {% for post in posts %}
        <h2 class="post-title"><a href="{{ url_for('view_posts') }}{{ post.permalink }}">{{ post.title }}</a></h2>
        <div class="post-body">
            {{ post.body|markdown }}
        </div>
        <div class="post-footer">
            <span class="post-footer-item">Posted by {{ post.user_name() }} on {{ post.create_date|date_format() }}</span>
            {% if post.edit_date|date_format() != post.create_date|date_format() %}
                <span class="post-footer-item">Edited on {{ post.edit_date|date_format() }}</span>
            {% endif %}
            {% if current_user.is_authenticated %}
                <span class="post-footer-item"><a href="{{ url_for('create_edit_post', id=post.id) }}">Edit/delete post</a></span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}