{% extends 'layout.html' %}
{% block head %}
    <meta name="description" content="{{ post.description }}" />
    <meta name="author" content="{{ post.user_name() }}" />
{% endblock %}
{% block title %}
    <h1 class="post-title">{{ post.title }}</h1>
    <h3 class="sub-heading">on {{ g.site_settings.site_title }}</h3>
{% endblock %}
{% block body %}
    {% include 'includes/post_body.html' %}
    {% if post.comments_allowed == True %}
        <hr />
        <h3>Comments</h3>
        <div class="comment"><a href="{{ url_for('create_comment', permalink=post.permalink) }}"><strong>Add Your Comment</strong></a></div>
        {% include 'includes/comments.html' %}
    {% endif %}
{% endblock %}