{% extends 'layout.html' %}
{% block head %}
    <link href="{{ url_for('recent_posts_feed') }}" rel="alternate" title="Recent Posts" type="application/atom+xml">
{% endblock %}
{% block title %}
<h1>{{ g.site_settings.site_title }}</h1>
{% endblock %}
{% block body %}

    <h3>Pages</h3>
    <table>
        <tr>
            <td><strong>Title</strong></td>
            <td><strong>Updated on</strong></td>
            <td><strong>Description</strong></td>
            <td></td>
        </tr>
        {% for page in pages %}
            <tr>
                <td><a href="{{ url_for('view_posts') }}{{ page.permalink }}"><strong>{{ page.title }}</strong></a></td>
                <td>
                    {{ page.edit_date|date_format() }}
                </td>
                <td>
                    {{ page.description }}
                </td>
                <td>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('create_edit_post', id=page.id) }}">Edit Page</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Blog Posts</h3>
    <table>
        <tr>
            <td><strong>Title</strong></td>
            <td><strong>Updated on</strong></td>
            <td><strong>Description</strong></td>
            <td></td>
        </tr>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ url_for('view_posts') }}{{ post.permalink }}"><strong>{{ post.title }}</strong></a>
                </td>
                <td>
                     {{ post.edit_date|date_format() }}
                </td>
                <td>
                    {{ post.description }}
                </td>
                <td>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('create_edit_post', id=post.id) }}">Edit Post</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}