<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smog</title>
</head>
<body>
    <h1>smog: Simple Markdown blOG</h1>
    {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.name }}</p>
    {% endif %}
    <div class="nav">
        <span class="nav-item"><a href="{{ url_for('view_posts') }}">Home</a></span>
        {% if current_user.is_authenticated %}
            <span class="nav-item"><a href="{{ url_for('create_edit_post') }}">Create Post</a></span>
            <span class="nav-item"><a href="{{ url_for('view_unpublished') }}">View Unpublished</a></span>
            <span class="nav-item"><a href="{{ url_for('logout') }}">Log out</a></span>
        {% else %}
            <span class="nav-item"><a href="{{ url_for('login') }}">Log in</a></span>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class='flash'><strong>{{ message }}</strong></div>
    {% endfor %}
    {% block body %}{% endblock %}
</body>
</html>